.outer{
    background: linear-gradient(to top, #c9c9ff 50%, #6e6ef6 90%) no-repeat;
    height: 100vh;
}

.container h3{
    text-align: center;
}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

}
.content h1{
    color: #d10c0c;
    font-size: 60px;
    letter-spacing: 15px;
}
.content h1 span{
    color: #02083f;
}
