<div class="outer">
    <div class="container">
        <h1 class="mt-3">Edit City</h1>

        <form #form="ngForm" (ngSubmit)="updateCity()">
            <div class="mt-2">


                <div class="mt-3">
                    <label class="form-label">Id</label>
                    <input type="number" id = "id" class="form-control" readonly
                    name="id" [(ngModel)]="cityDetails.id">
                </div>


                <div class="mt-3">
                    <label class="form-label">City Name</label>
                    <input type="text" id = "cityName" class="form-control"
                    name="cityName" [(ngModel)]="cityDetails.name">
                </div>

                <div class="mt-3">
                    <label class="form-label">Description</label>
                    <input type="text" id = "cityDescription" class="form-control"
                    name="cityDescription" [(ngModel)]="cityDetails.description">
                </div>
                <div class="mt-3">
                    <button type="submit" class="btn btn-primary" >Save</button>
                </div>

            </div>
        </form>
    </div>
</div>    