<footer class="footer mt-auto py-3 text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <span>&copy; 2024 S M Riad Hossain. All rights reserved.</span>
        </div>
        <div class="col-md-6 text-md-right">
          <!-- Social Media Icons -->
          <a [routerLink]="['']" class="social-icon"><i class="fa fa-home fa-lg"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-facebook fa-lg"></i></a>
          <a href="https://www.linkedin.com/in/smriad658/" class="social-icon"><i class="fa fa-linkedin fa-lg"></i></a>
          <a href="https://github.com/SMRiadHossain" class="social-icon"><i class="fa fa-github fa-lg"></i></a>
          <a href="https://twitter.com/SMRiadHossain1" class="social-icon"><i class="fa fa-twitter fa-lg"></i></a>
          <a href="#" class="social-icon"><i class="fa fa-instagram fa-lg"></i></a>

          <!-- Login and Sign Up Buttons -->
          <button class="btn btn-outline-light mx-2 " [routerLink]="['/login']">Login</button>
          <button class="btn btn-light" [routerLink]="['/signup']">Sign Up</button>
        </div>
      </div>
    </div>
  </footer>